*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-bg :#00095e;
}
.navbar{
    background-color: var(--main-bg);
}
.navbar-nav span{
    margin-left:8%;
    
    
  }
/* Home Section */
.container{
    width: 35%;
    height: auto;
}
#home{
    background-color: var(--main-bg);
    height: 100vh;
    padding: 17em 0 100px;
}
#home h1{
    font-family: "Josefin Sans", sans-serif;
    font-size: 51px;
}

#home img{
    max-width: 100%;
    height: 600px;
}
#home #hero-btn {
    position: relative;
    padding: 17px 27px;
    background: linear-gradient(to bottom, #ff4495 0%, #ff6d6d 100%);
    border-radius: 2rem;
    overflow: hidden; 
    color: white; 
    z-index: 1; 
}

#home #hero-btn::before {
    content: '';
    position: absolute;
    top: -100%; 
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #ff6d6d 0%, #ff4495 100%);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease, top 0.3s ease;
    z-index: -1; 
}

#home #hero-btn:hover::before {
    opacity: 1;
    
    top: 0; 
}

.navbar-nav .nav-link {
    position: relative;
    font-weight: 500;
   
}

.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px; 
    background-color: #e0e0e0; 
    transition: width 0.3s ease; 
    transform: scaleX(0); 
    transform-origin: bottom right;
}

.navbar-nav .nav-link:hover::after {
    transform: scaleX(1); 
    transform-origin: bottom left;
}



/* About Services */

#services{
    max-width: 100%;
    height: auto;
}
#services span{
    font-family: "Josefin Sans", sans-serif;
    color: #FF4495;
    font-size: 1rem;
    margin-top: 20%
   
}
#services h2{
    font-family: "Josefin Sans", sans-serif;
    color: #232F55;
    font-size: 2rem;
    display: block;
    margin-bottom: 17px;
   
}
#services .cat-cap h5{
    color: #232F55;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    margin-top: 10%;
    
}

#services .cat-cap p{
    font-family: "Mulish", sans-serif;
    color: #3F4854;
    font-size: 1rem;
   
}



@media (max-width: 576px) {
    .custom-gap {
        gap: 10px; 
    }
}


/* About */
@media (max-width: 576px) {
    #not {
        display: none;
    }
}

#about{
    background: #F6F9FC;
    max-width: 100%;
    height: auto;
    margin-top: 10%;
    
}

.card-body {
    margin-left: 35%;
    margin-top: 7%;
    
}


.card-body h2{
    font-family: "Josefin Sans", sans-serif;
    color: #232F55;
    font-size: 46px;
    display: block;
    font-weight: 600;
    margin-bottom: 17px;
}

.card-body h5{
    color: #232F55;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 16px;
}

.card-body p{
    color: #101A31;
    margin-bottom: 30px;
    font-size: 16px;
    font-family: "Mulish", sans-serif;
}
.here{
    margin-top: 8%;
}

#learn-btn{
   
   
    text-decoration: none;
    /* position: relative; */
    padding: 17px 27px;
    background: linear-gradient(to bottom, #ff4495 0%, #ff6d6d 100%);
    border-radius: 2rem;
    overflow: hidden; 
    color: white; 
    z-index: 1; 
}

/* Contact Us */

#contact{
    padding: 11em 0;
    max-width: 100%;
    height: auto;
}

#contact h2{
    color: #101A31;
}
.submit{
    background: linear-gradient(to bottom, #ff4495 0%, #ff6d6d 100%);
}
/* Footer */

footer{
    background-color: var(--main-bg);
}

/* scroll Up Btn */
.scrollUpBtn {
    bottom: 20px; 
    right: 20px; 
    z-index: 1000; 
    display: inline-block; 
    padding: 10px; 
    background-color: #FF4495;
    color: #fff; 
    border-radius: 50%; 
}

.scrollUpBtn svg {
    width: 24px; 
    height: 24px; 
}


.about-section {
    order: 1;
  }
  
  .contact-section {
    order: 2;
  }
  
 


  /* Default layout for larger screens */
  .contact-section .row > div:first-child {
    order: 1;
  }
  
  .contact-section .row > div:last-child {
    order: 2;
  }
  
  
